body,img,ul,li,a,p,h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0;
  text-decoration: none;
  border:0;
  font-family:Lato;
}
.nav-con{
  width:100%;
  min-width:320px;
  height:60px;
  background-color:rgba(0, 0, 0, 0.7);;
  position:fixed;
  z-index:9999;
  top:0;
  .nav-bar{
    max-width: 940px;
    margin: 0 auto;
    padding: 0px 20px;
    img{
      width:40px;
    }
    ul{
      display:inline-block;
      float: right;
      padding: 20px 10px 0 0;
      display:none;
      li{
        display:inline-block;
        color:#fff;
        position:relative;
        cursor: pointer;
        &:before{
          font-family:icomoon;
          font-size:25px;
        }
        &.user{
          &:before{
            content:"\e973";
          }
          .coins{
            position: absolute;
            top: 11px;
            left: 11px;
            background: #fff;
            color: #000;
            font-size: 10px;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            text-align: center;
          }
        }
      }
    }
  }
}
