.loader:before{
  border-width: 40px;
}

.loader:before,
.loader:after{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border-style: solid;
  border-top-color: #2c7098;
  border-right-color: #e9c535;
  border-bottom-color: #2c7098;
  border-left-color: #e9c535;
  content: '';
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: rotate 1.5s infinite ease-in-out;
  -moz-animation: rotate 1.5s infinite ease-in-out;
  animation: rotate 1.5s infinite ease-in-out;
}

.loader:after {
  width: 120px;
  height: 120px;
  border-width: 20px;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
